*{
  margin: 0;
  padding: 0;
}

body{
  background: url('./assets/image.jpeg');
}

.container{
  display:flex;
  flex-direction: column;
  /* height: 100vh; */
  text-align: center;
  /* justify-content: center; */
  align-items: center;
}

.data-box{
  border: 1px solid black;
  border-radius: 10px;
  width: 60%;
  height: 300px;
  text-align: justify;
  margin: 50px;
  
}

.data{
margin-left: 30%;
margin-top: 50px;
}